################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs
/bin
/d/Documents/Uni/5 Semestras/Saitynai/LibraTrack/appsettings.json
